body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

.container {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
}

input {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}

.gif-Container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 10px;
    margin-top: 20px;
}

.gif-item {
    width: 100%;
    max-width: 100%;
}